<h1>This is travel_html</h1>
<div id="<%= dom_id travel %>">
  <p>
    <strong>Category:</strong>
    <%= travel.category %>
  </p>

  <p>
    <strong>Expenses:</strong>
    <%= travel.expenses %>
  </p>

  <p>
    <strong>Approve:</strong>
    <%= travel.approve %>
  </p>

</div>
