<div id="<%= dom_id wallet %>">
  <p>
    <strong>Amount:</strong>
    <%= wallet.amount %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= wallet.month %>
  </p>
  <p>
    <strong>id:</strong>
    <%= wallet.user_id %>
  </p>

</div>
